<figure class="title">
  <img alt="Logo Grupo Pessoa" src="../../../../assets/images/logo.png" class="logo-auth">
</figure>

<hr>

<p class="sub-title">Por favor defina sua nova senha.</p>

<nb-alert (close)="onClose()" *ngIf="message$ | async as message" [accent]="message.type" closable>
  {{ message.content }}

  <p>
    <a *ngIf="message.success" class="text-link float-right" routerLink="/auth/login">
      Fazer Login
    </a>
  </p>
</nb-alert>

<form [formGroup]="formGroup" (ngSubmit)="resetPass()" aria-labelledby="title">
  <app-input-field [control]="formGroup.get('password')" [cssClass]="verifyValidField('password')" type="password" placeholder="Digite sua nova senha" controlName="Senha" formControlName="password" id="password" label="Senha"></app-input-field>
  <app-input-field [control]="formGroup.get('password_confirmation')" [cssClass]="verifyValidField('password_confirmation')" type="password" placeholder="Confirme a nova senha" controlName="Confirme a Senha" formControlName="password_confirmation" id="password_confirmation" label="Confirme a Senha"></app-input-field>

  <button nbButton status="primary" fullWidth size="large" [disabled]="formGroup.invalid || (loading$ | async)" [class.btn-pulse]="formGroup.valid">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-light" role="status" *ngIf="loading$ | async else buttonContent">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <ng-template #buttonContent>
      Confirmar Nova Senha
    </ng-template>
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="/auth/login">Voltar ao Login</a></p>
</section>
