<div class="form-control-group form-group">
  <label [attr.for]="id" class="label">
    <span *ngIf="label"> {{ label }}:</span>
  </label>
  <input [(ngModel)]="innerValue" [fieldSize]="fieldSize" [id]="id" [max]="max" [min]="min" [ngClass]="cssClass"
         [placeholder]="placeholder" [readOnly]="!!isReadOnly" [shape]="shape" [status]="status"
         [type]="type" autofocus class="first" class="form-control" fullWidth nbInput>
  <app-error-message *ngIf="control && controlName" [control]="control" [fieldName]="controlName"></app-error-message>
</div>
