<figure class="title">
  <img alt="Logo IFSP" src="../../../../assets/images/logo.png" class="logo-auth">
</figure>

<hr>

<p class="sub-title">Digite seu endereço de e-mail e enviaremos um link para redefinir sua senha.</p>

<nb-alert (close)="onClose()" *ngIf="message$ | async as message" [accent]="message.type" closable>
  {{ message.content }}
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" accent="success" role="alert">
  <p class="alert-title"><b>Sucesso!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form [formGroup]="formGroup" (ngSubmit)="requestPass()" aria-labelledby="title">
  <app-input-field [control]="formGroup.get('email')" [cssClass]="verifyValidField('email')" type="email" placeholder="Seu e-mail" controlName="E-mail" formControlName="email" id="email" label="Digite seu endereço de e-mail"></app-input-field>

  <button nbButton fullWidth status="primary" size="large" [disabled]="formGroup.invalid || (loading$ | async)" [class.btn-pulse]="formGroup.valid">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-light" role="status" *ngIf="loading$ | async else buttonContent">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <ng-template #buttonContent>
      Recuperar Senha
    </ng-template>
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Voltar ao Login</a></p>
</section>
