<nb-card size="giant" *ngIf="users$ | async as users; else loading">
  <nb-card-header>
    <button routerLink="/dashboard" nbButton ghost>
      <nb-icon icon="corner-up-left-outline" class="button-return"></nb-icon>
    </button>

    Usuários
  </nb-card-header>

  <nb-card-body>
    <nb-alert class="alert-info" *ngIf="!users.length" accent="info">
      Ainda não há nenhum usuário cadastrado.
    </nb-alert>

    <nb-list>
      <nb-list-item class="d-flex justify-content-between" *ngFor="let user of users">
        <nb-user [name]="user.name" [title]="formatRole(user.role)"></nb-user>

        <button [routerLink]="['../editar', user._id]" nbButton outline status="primary">
          <nb-icon icon="edit-2-outline"></nb-icon> Editar
        </button>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<ng-template #loading>
  <nb-alert class="alert-error" *ngIf="error$ | async; else success" accent="danger">
    Erro ao carregar usuários. Tente novamente mais tarde.
  </nb-alert>

  <ng-template #success>
    <nb-card class="spinner" nbSpinnerSize="giant" [nbSpinner]="true" nbSpinnerStatus="info">
      <nb-card-body></nb-card-body>
    </nb-card>
  </ng-template>
</ng-template>
